body {
  background-color: lightgrey;
}
.main-cont {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.cont {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 330px;
}

.oddT {
  flex: 1 0 auto;
}

.dataT {
  flex: 0 1 auto;
  position: absolute;
  right: 0;
  width: 14%;
}

tr, th, td {
  border: 1px solid black;
  text-align: center;
}

.tables {
  align-items: flex-end;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  position: relative;
}

.tables td .red {
  background-color: rgb(255, 15, 15);
  border: 1px solid black;
  border-radius: 2px;
  color: white;
  margin: 1px;
  padding: 1px;
}

.tables td .blue {
  background-color: rgb(15, 15, 255);
  border: 1px solid black;
  border-radius: 2px;
  color: white;
  margin: 1px;
  padding: 1px;
}

.RRR, .redD {
  background-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.3);
}

.RRB {
  background-color: rgb(200, 20, 55);
  background-color: rgba(200, 20, 55, 0.3);
}

.BBR {
  background-color: rgb(55, 20, 200);
  background-color: rgba(55, 20, 200, 0.3);
}

.BBB, .blueD {
  background-color: rgb(0, 0, 255);
  background-color: rgba(0, 0, 255, 0.3);
}
